<form class="create-rsvp">
  <legend>Create rsvp</legend>
  <input id="create-rsvp" required type="hidden" name="rsvp[listing]" value={{listing.id}} >
<button>RSVP</button>
</form>

<div class="one-listing">
  <h4 class="event-name"> {{listing.listing_name}} </h4>
  <hr>
  <p> Date - {{listing.date}} </p>
  <p> Location - {{listing.location}} </p>
  <p> Start Time - {{listing.start_time}} </p>
  <p> End Time - {{listing.end_time}} </p>
  <p> Description - {{listing.description}} </p>
</div>
